
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
 }

 /* .left--slider>>>>>>>>>START */
body{
background-color:#E276FC;
}
 #body{
   transition: background-color 0.3s ease-in-out;
 }

 .slider-container{
    position: relative;
 }
 .ahref-style{
    text-decoration: none;
    color: #f0f0f0;
    padding-left: 20px;
    font-size: 1.1em;
    font-weight: bold;
    transition: font-size 0.4s;
    margin-top: 3rem;
 }
 .ahref-style:hover{
    font-size: 1.3em;
 }
 .ahref-style::after{
    content: "";
    display: block;
    border-bottom: 3px solid tomato;
    transform: translateX(0%) scale(0);
    transition: 0.4s;
    
 }
 .ahref-style:hover:after{
    content: "";
    display: block;
    border-bottom: 3px solid tomato;
    transform: translateX(0%) scale(1);
 }
.left-slider{
   height: 300px;
   width: 280px;
   background-color: #28282d;
   color: #f0f0f0;
    position: fixed;
    top: 100px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transition: 0.3s ease-in-out;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
    padding: 0px 30px;
    transform: translateX(-220px);
}
.sliderActive{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateX(0px);
}
.icons{
   position: absolute;
   right: 0px;
   top: 120px;

}
 #bringSlider{
    position: absolute;
    color: #fff;
    font-size: 2.2rem;
    padding-right: 10px;
    cursor: pointer;
    right: 0px;
 }

 #hideSlider{
    color: #fff;
    font-size: 2.2rem;
    padding-right: 10px;
    cursor: pointer;
    display: none;
 }
.hrefs{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.bodyActive{
background-color:rgba(65, 63, 64, 0.37);
user-select: none;
}



 /* .left--slider>>>>>>>>>END */












/* login and register buttons>>>>>>>start */

.or{
   color:#fff;
   font-size: 16px;
}
.buttons{
   display: flex;
   align-items: center;
   justify-content:space-around;
   margin-left: 2rem;
   margin-top: 3rem;
}



.login {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}
a{
   text-decoration: none;
}
.login::after,
.login::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.login::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.login::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.login:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.login:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.login:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}









.register {
   all: unset;
   width: 100px;
   height: 30px;
   font-size: 16px;
   background: transparent;
   border: none;
   position: relative;
   color: #f0f0f0;
   cursor: pointer;
   z-index: 1;
   padding: 10px 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   white-space: nowrap;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
 }
 
 .register::after,
 .register::before {
   content: '';
   position: absolute;
   bottom: 0;
   right: 0;
   z-index: -99999;
   transition: all .4s;
 }
 
 .register::before {
   transform: translate(0%, 0%);
   width: 100%;
   height: 100%;
   background: #28282d;
   border-radius: 10px;
 }
 .register::after {
   transform: translate(10px, 10px);
   width: 35px;
   height: 35px;
   background: #ffffff15;
   backdrop-filter: blur(5px);
   -webkit-backdrop-filter: blur(5px);
   border-radius: 50px;
 }
 
 .register:hover::before {
   transform: translate(5%, 20%);
   width: 110%;
   height: 110%;
 }
 
 .register:hover::after {
   border-radius: 10px;
   transform: translate(0, 0);
   width: 100%;
   height: 100%;
 }
 
 .register:active::after {
   transition: 0s;
   transform: translate(0, 5%);
 }
 

/* login and register buttons end */


















 
   /* HOME_PAGE//image-slider>>>>>>>>>END */
   .welcomepage-left{
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100vh;
   }
.welcome-text{
   color: #28282d;
   font-size: 2rem;
   margin-left: 5rem;
}
.more-info{
   font-size: 20px;
   margin-left: 5rem;
   margin-top: 1rem;
}
.texts{
   margin: 0px;
   padding: 0px;
}
    /* Welcome section>>>>>>>>>END */



 /* Games section>>>>>>>>>START */


 .game-line{
margin-top: 2rem;
color: #000;
 }
 .game-linetwo{
   margin-top: 1rem
 }
.gamename{
 margin-top: 1rem;
}
.gamescontent{
   display: flex;
   align-items: center;
   justify-content:space-around;
   margin: 2rem;
}

.gameIcon{
   height: 70px;
   width: 70px;
   border-radius: 50%;
   margin-left: 1rem;
}

.pubg{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 330px;
   height:310px;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   margin-left: 2rem;
   border-radius: 30px;
   background-color: #28282d;
   color: #f0f0f0;
}

.freefire{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 330px;
   height:310px;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   margin-left: 2rem;
   border-radius: 30px;
   background-color: #28282d;
   color: #f0f0f0;
}
.arena{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 300px;
   height:310px;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   margin-left: 2rem;
   border-radius: 30px;
   background-color: #28282d;
   color: #f0f0f0;
}
.gamedescription{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.gameinfo{
padding: 20px;
}
.see{

   margin-top: 1rem;
   cursor: pointer;
}



/* CSS */
.see,
.see:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.see:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.see:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
 /* Games section>>>>>>>>>END */













/* Event section>>>>>>>>>>>>>Start */
.sectionhead{
   text-align: center;
}
.eventgameIcon{
   height: 70px;
   width: 70px;
   border-radius: 50%;
}
#eventBtn{
margin-left: 6rem;
}
.eventscontainer{
display: flex;
align-items: center;
justify-content: center;
margin-top: 2rem;
height: auto;
gap: 2rem;
}

.eventOne{
   display: flex;
   align-items: center;
   justify-content:center;
   flex-direction: column;
   height: auto;
   width: 400px;
   background: #28282d;
   border-radius: 10px;
   transition: 0.8s ease-in-out;
}
.eventOne:hover{
   transform: scale(1.1);
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   cursor: pointer;
}  


.eventTwo{
   height: 150px;
   width: 400px;
   background-color: #000;
   margin-left: 1rem;
}
.eventThree{
   height: 150px;
   width: 400px;
   background-color: #000;
   margin-left: 1rem;
}
.event-info{
   color: #fff;
   padding: 10px;
}



/* Event section>>>>>>>>>>>>>End */




 /*Teams section>>>>>>>>>START */
 .teams-container{
   margin-top:2rem;
   height: 100vh;

 }
.teams-header{
display: flex;
align-items: center;
justify-content: space-around;
margin-top: 3rem;
width: 100%;
height: 50px;
border-radius: 30px;
background-color: #28282d;
color: #f0f0f0;
}
.headings{
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.createBtn{
   cursor: pointer;
   outline: none;
   border: none;
   height: 30px;
   width: 170px;
   background-color: #28282d;
   color: #f0f0f0;
   border-radius: 10px;
   transition: outline 0.3s ease-in-out,
   outline-offset 0.4s ease-in-out;
}
.createBtn:hover{
   outline: 3px solid tomato;
   outline-offset: 5px;
}


 /* Teams section>>>>>>>>>end */






















    /* Responsiveness section>>>>>>>>>Start */
  
@media screen and (max-width:500px){

   .welcome-text{
      font-size: 25px;
      margin-top: 4rem;
   }
   .more-info{
   font-size: 15px;
   font-weight: bold;
   margin-top: 1rem;
}
.texts{
   margin-left: -2rem;
}
.gameinfo{
   padding: 10px;
}
.linebreak{
   display: none;
}
   }
   


@media screen and (max-width:899px){
   .line-break{
      display: none;
   }
   .welcomepage-left{
      flex-direction: column-reverse;
   }
   .gamescontent{
      flex-wrap: wrap;
   }   
   .eventscontainer{
      flex-wrap: wrap;
   }
   .gamescontentTwo{
      flex-wrap: wrap;
   }
   .pubg{
      margin-top: 2rem;  
   }
   .freefire{
      margin-top: 2rem;
   }
   .arena{
      margin-top: 2rem;
   }
}


@media screen and (max-width:400px){
.pubg{
   height: 300px;
   width: 300px;
}
.freefire{
   height: 300px;
   width: 300px;
}
.arena{
   height: 300px;
   width: 300px;
}
   .undrawImage{
      width: 340px;
      height: 350px;
   }
   .texts{
      margin-left: -2rem;
   }
}

@media screen and (max-width:360px){

   .undrawImage{
      width: 300px;
      height: 300px;
   }


}
   /* Responsiveness section>>>>>>>>>End */